.router-redactor
  display: flex
  align-items: center
  min-height: 100vh
  &__input
    width: 100%
    margin-bottom: 10px



.draggable-item
  cursor: pointer
  padding: 15px 5px
  border: 1px dashed #b7b7b7
  margin-bottom: 10px
  display: flex
  justify-content: space-between
  align-items: center

.active
  background: #ffe4d1

.draggable-item a
  cursor: pointer
  color: #0e31f5
  position: absolute
  right: 10px
  padding: 1px 10px 3px
  border-radius: 6px

.draggable-item a:hover
  cursor: pointer
  color: beige
  background: #fb8169

